
.main{
	

	text-align:center;
	width:100%
	margin:auto;
}
.bc{
	width: 100%;
	height: 100%;
	
	
	margin: auto;
	
	
	

}

p {
	/*color:#ffe4a2;*/
	/*color:pink;*/
	text-transform: uppercase;
	letter-spacing:.1rem;
}

p span {
	display:block;
}

a {
	/*color:#ffe4a2;*/
	/*color:pink;*/
	text-transform:none;
	text-decoration: none;
	/*font-size:10px;*/
}